@model List<u21631532_H05.Models.students>
@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="row">

        <div>
            <h1>Students</h1>
            <hr /><br />
            <input class="text" placeholder="Search Student Name" />

            <select class="form-control" name="typeName">
                <option value="Select a Class">Select a Class</option>
                @foreach (var v in Model)
                {
                    if (v.Class != null)
                    {
                        <option value="@v.Class">
                            @v.Class
                        </option>
                    }
                }
            </select>
            <button type="button" class="btn btn-success"><i class="fa-thin fa-chevron-down"></i>Search</button>
            <button type="button" class="btn btn-danger"><i class="fa-thin fa-chevron-down"></i>Clear</button>
            <hr /><br />
        </div>

        <div class="m-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Class</th>
                        <th scope="col">Points</th>
                        <th scope="col">Borrow Book</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {


                        <tr>
                            <th scope="row">@x.studentId</th>
                            <td>@x.name</td>
                            <td>@x.surname</td>
                            <td>@x.Class</td>
                            <td>@x.point</td>
                            <td>@Html.ActionLink("Borrow Book", "BookDetails", "Home", new { id = x.studentId }, htmlAttributes: new { @class = "btn btn-primary" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
