@{
    ViewBag.Title = "Home Page";
}
@model List<u21631532_H05.Models.borrows>


<div class="header">

    <h1>
        @ViewBag. - @{
            if (ViewBag.Status == "Out")
            {
                <span style="color: red;">Book Out</span>
            }
            else
            {
                <span style="color: green;">Book Available</span>
            }
        }
    </h1>

    <hr />

    <div class="borrowBar">

        <h1># Borrows - @ViewBag.NumberBooks</h1>

        <input type="button" class="btn btn-primary btn-lg view" role="button" aria-disabled="true" value="View Students" />

    </div>

    <hr />

</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Taken Date</th>
                <th scope="col">Brought Date</th>
                <th scope="col">Borrowed By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <th scope="row">@i.borrowId</th>
                    <td>@i.takenDate</td>
                    <td>
                        @if (i.broughtDate.CompareTo(i.takenDate) > 0)
                        {
                            <span>Out</span>
                        }
                        else
                        {
                            @i.broughtDate
                        }
                    </td>
                    <td>@i.studentId</td>
                </tr>
            }
        </tbody>
    </table>
</div>